.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.container > * {
    width: 40%;
}

.mat-card {
    width: 400px; /* İstenilen genişliği ayarlayabilirsin */
    text-align: center;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 16px; /* Adjust the margin value to your preference */
  }

small {
    font-size: 14px;
    color: #ff0000; /* Adjust the color to your preference */
    margin-top: 8px; /* Adjust the margin value to your preference */
    display: block; /* This will make the <small> element appear on a new line */
}