.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.container > * {
    width: 40%;
}

.mat-card {
    width: 400px; /* İstenilen genişliği ayarlayabilirsin */
    text-align: center;
}