/* Stil sayfanıza ekleyin veya mevcut stilinize ekleyin */
.white-card {
    background-color: #989797; /* Beyaz arka plan rengi */
    width: 80%; /* Tabloyu %80 genişlikte yapar */
    margin: 5% auto; /* Tabloyu yatayda ortalar */
  }
  
  .table-card {
    padding: 10px; /* Gerekirse içeriği kenarlardan küçültmek için padding ekleyin */
  }